form {
    margin: 20px;
}


label {
    display: block;
}

input {
    margin-left: 20px;
    margin-top: 20px;
}

input[type='checkbox'] {
    margin-left: 0px;
    margin-right: 20px;
}

button {
    display: inline;
    /* max-width: 100px; */
    padding: 5px 10px;
    /* margin-top: 20px; */
    margin-left: 5px;
}

span {}

div {
    margin: 5px;
}