html {

    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid black;
    font-weight: bold;
    font-size: 30px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

button:disabled {
    opacity: 0.3;
}

li {
    line-height: 160%;

    paddnig: 20px 10px;
    cursor: pointer;
}

li:nth-child(even) {
    background-color: #eee;
}

li:nth-child(odd) {
    background-color: #ccc;
}